@import "tailwindcss";


body {
  background-color: #0f172a; /* dark blue/black */
  color: #f8fafc; /* white text */
  font-family: 'Inter', sans-serif;
}

button {
  transition: all 0.2s ease;
}

.card {
  background: #1e293b;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

.graph-card {
  background: #1e293b;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
  padding: 1rem;
}
